body, html {
    margin: 0;
    height: 100%;
    background-color: white;
}

nav {
    background-color: #4d61e5;
    position: sticky;
    display: flex;
    height: 4%;
    align-items: center;
    font-size: 19px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.right {
    margin-left: auto;
    margin-right: 10px;
}

.left {
    margin-right: auto;
    margin-left: 10px;
}

main {
    height: 95%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: lightgrey;
}

#welcome {
    text-align: center;
}

h1 { 
    margin: 0;
    font-size: 4em;
}

footer {
    background-color: #4d61e5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 3em;
    }
}